<main>
    <div class="main-container">
        <h1>Register</h1>
        <form class="register-controls" id="register-form">
            <label>First Name*</label>
            <input class="input" type="text" name="first_name" placeholder="Type your name" required>
            <label>Last Name*</label>
            <input class="input" type="text" name="last_name" placeholder="Type your last name" required>
            <label>Email*</label>
            <input class="input" type="email" name="email" placeholder="Type your email" required>
            <label>Age</label>
            <input class="input" type="number" name="age" placeholder="Enter your age">
            <label>Password*</label>
            <input class="input" type="password" name="password" placeholder="Type a password" required>
            <input class="button" type="submit" value="Submit">
        </form>
        <p>*These fields are required</p>
        <p>If you are already registered, please click <a href="/login">here</a></p>
    </div>
</main>
<script src="/js/register.js"></script>